.btn,
button {
	display:inline-flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:center;
	cursor:default;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	padding: 2px 4px;
	border-width: 1px;
   	border-style: solid;
	text-decoration: none;
	pointer-events:all;
	box-sizing:border-box;
	line-height:1.2;
	font-size:1rem;
}

div.btn {
	display:flex;
}

label.btn,
.btn-grp>label,
.tab-grp>label {
	position:relative;
	padding:0px;
	overflow:visible;
	border-width:0px;
}

label.btn>input ~ *,
.btn-grp>label>input ~ *,
.tab-grp>label>input ~ * {
	border-style:solid;
	border-width:1px;
	padding: 2px 4px;
	display:flex;
	flex-direction:inherit;
	flex-wrap:inherit;
	align-self:stretch;
	align-items:inherit;
	justify-content:inherit;
	pointer-events:all;
}

label.btn>input~*:last-child,
.btn-grp>label>input~*:last-child,
.tab-grp>label>input~*:last-child {
    flex-grow:1;
}

input.tab[value]:before,
input.btn[value]:before,
.btn-grp>input[value]:before,
.tab-grp>input[value]:before {
	content:attr(value);
}

input.tab,
label.tab,
.tab-grp>input,
.tab-grp>label {
	flex-grow:1;
	flex-shrink:1;
}

label.btn>input,
.tab-grp>label>input,
.btn-grp>label>input {
	display:none;
}

button:focus,
input.btn:focus,
label.btn>input:focus,
.btn-grp input:focus,
.tab-grp input:focus {
	outline:none;
}

button,
input.btn,
input.tab,
label.btn>input,
label.tab>input,
.btn-grp>input,
.tab-grp>input,
.btn-grp>label>input,
.tab-grp>label>input {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

a.btn,
.btn-grp>a {
	text-decoration: none;
}

/* ============================================== [icons] ============================================== */

.btn.icon,
button.icon,
.btn-grp>*.icon,
.tab-grp>*.icon {
	padding: 0px;
}

.btn.icon,
button.icon,
.btn-grp>*.icon,
.tab-grp>*.icon,
.tab-grp>label>input ~ *.icon {
	width:22px;
	height:22px;
}

.btn.icon>svg,
button.icon>svg,
.btn-grp>*.icon>svg,
.tab-grp>*.icon>svg,
.tab-grp>label>input ~ *.icon>svg,
svg.icon {
	width:20px;
	height:20px;
}

.btn svg,
button svg,
svg.btn>*,
.btn-grp>*>svg,
.tab-grp>*>svg,
.btn-grp>svg>*,
.tab-grp>svg>* {
    pointer-events:none;
}

/* ============================================== [group & set] ============================================== */

.tab-grp,
.btn-set,
.btn-grp {
    display:flex;
	box-sizing: border-box;
	padding:0px;
    border:solid 0px transparent;
	justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    flex-direction:inherit;
	pointer-events:none;
	list-style:none;
	align-self:center;
}

.tab-grp.col {
	align-self:stretch;
}

.tab-grp>*,
.btn-grp>* {
	display:inline-flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:center;
	cursor:default;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	padding: 2px 4px;
	border-width: 1px;
	border-style: solid;
	background-clip:padding-box;
	pointer-events:all;
	box-sizing:border-box;
	text-decoration: none;
	line-height:1.2;
	font-size:1rem;
}

.tab-grp>* {
	justify-content: flex-start;
}

.btn-set>* {
	align-self:stretch;
}

span.tab-grp,
span.btn-set,
span.btn-grp {
	display:inline-flex;
}

.tab-grp,
.btn-set,
.btn-grp {
	flex-direction:row;
}

.tab-grp.col,
.btn-set.col,
.btn-grp.col {
	flex-direction:column;
}

.btn-set .btn-grp,
.btn-set .btn-set {
	flex-direction:inherit;
}

/* ============================================== [margin] ============================================== */

.btn,
button,
.btn-set,
.btn-grp {
	margin:2px;
}

.tab-grp,
.btn-grp>*,
.tab-grp>*,
.btn-set>*,
label.btn>*,
.btn-grp>label>*,
.tab-grp>label>* {
	margin:0px;
}

.btn-grp.col>*+*,
.tab-grp.col>*+*,
.btn-set.col .btn-grp>*+* {
    margin:-1px 0px 0px 0px;
}

.btn-grp>*+*,
.tab-grp>*+*,
.btn-set .btn-grp>*+* {
    margin:0px 0px 0px -1px;
}

.btn-set.col>*+*,
.btn-set.col .btn-set>*+* {
    margin:3px 0px 0px 0px;
}

.btn-set>*+*,
.btn-set .btn-set>*+* {
    margin:0px 0px 0px 3px;
}

/* ============================================== [border-radius] ============================================== */

.btn,
button,
.btn-grp,
.btn-set {
	border-radius: 3px;
}

.tab-grp>*,
.btn-grp>*,
label.btn>*,
.btn-grp>label>*,
.tab-grp>label>*,
.tab-grp {
	border-radius: 0px;
}

.btn-set>*,
.btn-set .btn-set {
	border-radius:inherit;
}

label.btn>input+*,
.btn-grp>label>input+*,
.tab-grp>label>input+*,
.btn-grp>*:first-child {
    border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

label.btn>input~*:last-child,
.btn-grp>label>input~*:last-child,
.tab-grp>label>input~*:last-child,
.btn-grp>*:last-child {
	border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.btn-grp.col>*:first-child,
.btn-set.col .btn-grp>*:first-child {
	border-bottom-left-radius: 0px;
	border-top-right-radius: inherit;
}

.btn-grp.col>*:last-child,
.btn-set.col .btn-grp>*:last-child {
	border-top-right-radius: 0px;
	border-bottom-left-radius: inherit;
}

/* ============================================== [disabled] ============================================== */

.btn.disabled,
button:disabled,
input.btn:disabled,
label.btn>input:disabled ~ *,
.btn-grp>*.disabled,
.tab-grp>*.disabled,
.btn-grp>*:disabled,
.tab-grp>*:disabled,
.btn-grp>label>input:disabled ~ *,
.tab-grp>label>input:disabled ~ * {
	cursor:not-allowed;
}

/* ============================================== [theme] ============================================== */

.btn,
button,
.btn-grp>*,
.tab-grp>* {
	font-family:"Courier New";
}

.btn,
button,
label.btn>input ~ *,
.btn-grp>*,
.btn-grp>label>input ~ * {
	color: rgb(85,85,85);
	stroke:rgb(85,85,85);
	fill:rgb(85,85,85);
	text-shadow: 0 1px rgba(255,255,255,0.8);
    background-color:rgb(241,241,241);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4),rgba(255,255,255,0) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.05));
	border-color:rgb(204,204,204) rgb(197,197,197) rgb(187,187,187);
}

.btn.selected,
button.selected,
input.btn:checked,
label.btn>input:checked ~ *,
.btn-grp>*.selected,
.btn-grp>input:checked,
.btn-grp>label>input:checked ~ * {
	color: #fafafa;
	fill: #fafafa;
	stroke: #fafafa;
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	box-shadow: -1px -1px rgba(255,255,255,0);
	background: rgb(107,107,107) linear-gradient(to bottom, rgb(163,163,163),rgb(204,204,204));
	border-color: rgb(56,56,56) rgb(150,150,150) rgb(150,150,150) rgb(89,89,89);
}

.btn.disabled,
button:disabled,
input.btn:disabled,
label.btn>input:disabled ~ *,
.btn-grp>*.disabled,
.btn-grp>*:disabled,
.btn-grp>label>input:disabled ~ * {
	background: rgb(241,241,241);
	box-shadow: none;
	color: rgb(145,145,145);
	fill:rgb(145,145,145);
	stroke:rgb(145,145,145);
}

/* ============================================== [theme](tabs) ============================================== */

.tab-grp>*,
.tab-grp>label>input ~ * {
	color: rgb(153,153,153);
	fill: rgb(153,153,153);
	stroke:rgb(153,153,153);
	border-color: rgb(187,187,187);
    background: rgb(222,222,222);
	text-shadow: 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px rgb(255,255,255),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
}

.tab-grp>*.selected,
.tab-grp>*:checked,
.tab-grp>label>input:checked ~ * {
	color: rgb(102,102,102);
	fill: rgb(102,102,102);
	stroke: rgb(102,102,102);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
	border-color: rgb(191,191,191) rgb(200,200,200) rgb(214,214,214);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	background: rgb(232,232,232) linear-gradient(to bottom, rgb(232,232,232),rgb(250,250,250));
}

.tab-grp>*:hover,
.tab-grp>label:hover>input ~ * {
	background:rgb(232,232,232);
}

.tab-grp>*.disabled,
.tab-grp>*:disabled,
.tab-grp>label>input:disabled ~ * {
	color: rgb(145,145,145);
	fill:rgb(145,145,145);
	stroke:rgb(145,145,145);
	background: rgb(222,222,222);
	box-shadow: none;
}

/* ============================================== [theme - ui-flat] ============================================== */

.btn.ui-flat,
button.ui-flat,
label.btn.ui-flat>input ~ *,
.btn-grp.ui-flat>*,
.tab-grp.ui-flat>*,
.btn-set.ui-flat .btn,
.btn-set.ui-flat button,
.btn-set.ui-flat label.btn>input ~ *,
.btn-set.ui-flat .btn-grp>*,
.btn-set.ui-flat .btn-grp>label>input ~ *,
.btn-grp.ui-flat>label>input ~ *,
.tab-grp.ui-flat>label>input ~ * {
	color: rgb(128,128,128);
	fill: rgb(128,128,128);
	stroke: rgb(128,128,128);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	background: rgb(236,238,244);
    border-color:rgb(187,187,187);
	box-shadow: none;
}

.btn.ui-flat,
button.ui-flat,
.btn-grp.ui-flat,
.tab-grp.ui-flat,
.btn-set.ui-flat .btn,
.btn-set.ui-flat button,
.btn-set.ui-flat .btn-grp {
    box-shadow:1px 1px rgb(213,215,221);
}

.btn.ui-flat.selected,
button.ui-flat.selected,
input.btn.ui-flat:checked,
label.btn.ui-flat>input:checked ~ *,
.btn-grp.ui-flat>*.selected,
.tab-grp.ui-flat>*.selected,
.btn-set.ui-flat .btn.selected,
.btn-set.ui-flat .btn:checked,
.btn-set.ui-flat button.selected,
.btn-set.ui-flat label.btn>input:checked ~ *,
.btn-set.ui-flat .btn-grp>*.selected,
.btn-set.ui-flat .btn-grp>*:checked,
.btn-set.ui-flat .btn-grp>label>input:checked ~ *,
.btn-grp.ui-flat>input:checked,
.tab-grp.ui-flat>input:checked,
.btn-grp.ui-flat>label>input:checked ~ *,
.tab-grp.ui-flat>label>input:checked ~ * {
	color: rgb(128,128,128);
	fill: rgb(128,128,128);
	stroke: rgb(128,128,128);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	background: rgb(213,215,221);
    border-color:rgb(187,187,187);
}

.btn.ui-flat.disabled,
button.ui-flat:disabled,
input.btn.ui-flat:disabled,
label.btn.ui-flat>input:disabled ~ *,
.btn-grp.ui-flat>*.disabled,
.tab-grp.ui-flat>*.disabled,
.btn-set.ui-flat .btn.disabled,
.btn-set.ui-flat .btn:disabled,
.btn-set.ui-flat button:disabled,
.btn-set.ui-flat label.btn>input:disabled ~ *,
.btn-set.ui-flat .btn-grp>*.disabled,
.btn-set.ui-flat .btn-grp>*:disabled,
.btn-set.ui-flat .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-flat>*:disabled,
.tab-grp.ui-flat>*:disabled,
.btn-grp.ui-flat>label>input:disabled ~ *,
.tab-grp.ui-flat>label>input:disabled ~ * {
	color: rgb(145,145,145);
	background:rgb(239, 241, 246);
}

/* ============================================== [theme - ui-dark] ============================================== */

.btn.ui-dark,
button.ui-dark,
label.btn.ui-dark>input ~ *,
.btn-grp.ui-dark>*,
.tab-grp.ui-dark>*,
.btn-set.ui-dark .btn,
.btn-set.ui-dark button,
.btn-set.ui-dark label.btn>input ~ *,
.btn-set.ui-dark .btn-grp>*,
.btn-set.ui-dark .btn-grp>label>input ~ *,
.btn-grp.ui-dark>label>input ~ *,
.tab-grp.ui-dark>label>input ~ * {
	color: #d4d4d4;
	fill:#d4d4d4;
	stroke:#d4d4d4;
    text-shadow: none;
    box-shadow: inset 0 1px rgba(255,255,255,.2);
    background-color: #535353;
	background-image: linear-gradient(to top,rgba(255,255,255,.08),rgba(255,255,255,0));
    border-color: #282828;
}

.btn.ui-dark.selected,
button.ui-dark.selected,
input.btn.ui-dark:checked,
label.btn.ui-dark>input:checked ~ *,
.btn-grp.ui-dark>*.selected,
.tab-grp.ui-dark>*.selected,
.btn-set.ui-dark .btn.selected,
.btn-set.ui-dark .btn:checked,
.btn-set.ui-dark button.selected,
.btn-set.ui-dark label.btn>input:checked ~ *,
.btn-set.ui-dark .btn-grp>*.selected,
.btn-set.ui-dark .btn-grp>*:checked,
.btn-set.ui-dark .btn-grp>label>input:checked ~ *,
.btn-grp.ui-dark>input:checked,
.tab-grp.ui-dark>input:checked,
.btn-grp.ui-dark>label>input:checked ~ *,
.tab-grp.ui-dark>label>input:checked ~ * {
	box-shadow:none;
    background-color: #3a3a3a;
	background-image: linear-gradient(to top,transparent,transparent);
}

.btn.ui-dark:hover,
button.ui-dark:hover,
label.btn.ui-dark:hover>input ~ *,
.btn-grp.ui-dark>*:hover,
.tab-grp.ui-dark>*:hover,
.btn-grp.ui-dark>label:hover>input ~ *,
.tab-grp.ui-dark>label:hover>input ~ *,
.btn-set.ui-dark .btn:hover,
.btn-set.ui-dark button:hover,
.btn-set.ui-dark label.btn:hover>input ~ *,
.btn-set.ui-dark .btn-grp>*:hover,
.btn-set.ui-dark .btn-grp>label:hover>input ~ * {
	background-color: #3a3a3a;
}

.btn.ui-dark.disabled,
button.ui-dark:disabled,
input.btn.ui-dark:disabled,
label.btn.ui-dark>input:disabled ~ *,
.btn-grp.ui-dark>*.disabled,
.tab-grp.ui-dark>*.disabled,
.btn-set.ui-dark .btn.disabled,
.btn-set.ui-dark .btn:disabled,
.btn-set.ui-dark button:disabled,
.btn-set.ui-dark label.btn>input:disabled ~ *,
.btn-set.ui-dark .btn-grp>*.disabled,
.btn-set.ui-dark .btn-grp>*:disabled,
.btn-set.ui-dark .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-dark>*:disabled,
.tab-grp.ui-dark>*:disabled,
.btn-grp.ui-dark>label>input:disabled ~ *,
.tab-grp.ui-dark>label>input:disabled ~ * {
    box-shadow: none;
    background: #535353;
}

/* ============================================== [theme](vib) ============================================== */

.btn.ui-vib,
button.ui-vib,
label.btn.ui-vib>input ~ *,
.btn-grp.ui-vib>*,
.tab-grp.ui-vib>*,
.btn-set.ui-vib .btn,
.btn-set.ui-vib button,
.btn-set.ui-vib label.btn>input ~ *,
.btn-set.ui-vib .btn-grp>*,
.btn-set.ui-vib .btn-grp>label>input ~ *,
.btn-grp.ui-vib>label>input ~ *,
.tab-grp.ui-vib>label>input ~ * {
	color: rgb(102,102,102);
	fill: rgb(102,102,102);
	stroke: rgb(102,102,102);
	text-shadow: 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px rgb(255,255,255),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
	background: rgb(238,238,238) linear-gradient(to bottom, rgb(252,252,252),rgb(232,232,232));
	border-color: rgb(207,207,207) rgb(204,204,204) rgb(198,198,198);
}

.btn.ui-vib.selected,
button.ui-vib.selected,
input.btn.ui-vib:checked,
label.btn.ui-vib>input:checked ~ *,
.btn-grp.ui-vib>*.selected,
.tab-grp.ui-vib>*.selected,
.btn-set.ui-vib .btn.selected,
.btn-set.ui-vib .btn:checked,
.btn-set.ui-vib button.selected,
.btn-set.ui-vib label.btn>input:checked ~ *,
.btn-set.ui-vib .btn-grp>*.selected,
.btn-set.ui-vib .btn-grp>*:checked,
.btn-set.ui-vib .btn-grp>label>input:checked ~ *,
.btn-grp.ui-vib>input:checked,
.tab-grp.ui-vib>input:checked,
.btn-grp.ui-vib>label>input:checked ~ *,
.tab-grp.ui-vib>label>input:checked ~ * { 
	color: rgb(102,102,102);
	fill: rgb(102,102,102);
	stroke: rgb(102,102,102);
	text-shadow: 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
	background: rgb(232,232,232) linear-gradient(to bottom, rgb(232,232,232),rgb(250,250,250));
	border-color: rgb(191,191,191) rgb(200,200,200) rgb(214,214,214);
}

.btn.ui-vib.disabled,
button.ui-vib:disabled,
input.btn.ui-vib:disabled,
label.btn.ui-vib>input:disabled ~ *,
.btn-grp.ui-vib>*.disabled,
.tab-grp.ui-vib>*.disabled,
.btn-set.ui-vib .btn.disabled,
.btn-set.ui-vib .btn:disabled,
.btn-set.ui-vib button:disabled,
.btn-set.ui-vib label.btn>input:disabled ~ *,
.btn-set.ui-vib .btn-grp>*.disabled,
.btn-set.ui-vib .btn-grp>*:disabled,
.btn-set.ui-vib .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-vib>*:disabled,
.tab-grp.ui-vib>*:disabled,
.btn-grp.ui-vib>label>input:disabled ~ *,
.tab-grp.ui-vib>label>input:disabled ~ * {
	color: rgb(145,145,145);
	fill: rgb(145,145,145);
	stroke: rgb(145,145,145);
}

/* ============================================== [theme](blue) ============================================== */

.btn.ui-blue,
button.ui-blue,
label.btn.ui-blue>input ~ *,
.btn-grp.ui-blue>*,
.tab-grp.ui-blue>*,
.btn-set.ui-blue .btn,
.btn-set.ui-blue button,
.btn-set.ui-blue label.btn>input ~ *,
.btn-set.ui-blue .btn-grp>*,
.btn-set.ui-blue .btn-grp>label>input ~ *,
.btn-grp.ui-blue>label>input ~ *,
.tab-grp.ui-blue>label>input ~ * {
	color: #FFF;
	fill:#FFF;
	stroke:#FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background: #337ab7;
    border-color: #2e6da4;
}

.btn.ui-blue.selected,
button.ui-blue.selected,
input.btn.ui-blue:checked,
label.btn.ui-blue>input:checked ~ *,
.btn-grp.ui-blue>*.selected,
.tab-grp.ui-blue>*.selected,
.btn-set.ui-blue .btn.selected,
.btn-set.ui-blue .btn:checked,
.btn-set.ui-blue button.selected,
.btn-set.ui-blue label.btn>input:checked ~ *,
.btn-set.ui-blue .btn-grp>*.selected,
.btn-set.ui-blue .btn-grp>*:checked,
.btn-set.ui-blue .btn-grp>label>input:checked ~ *,
.btn-grp.ui-blue>input:checked,
.tab-grp.ui-blue>input:checked,
.btn-grp.ui-blue>label>input:checked ~ *,
.tab-grp.ui-blue>label>input:checked ~ * {
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    background: #286090;
    border-color: #204d74;
}

.btn.ui-blue:hover,
button.ui-blue:hover,
label.btn.ui-blue:hover>input ~ *,
.btn-grp.ui-blue>*:hover,
.tab-grp.ui-blue>*:hover,
.btn-grp.ui-blue>label:hover>input ~ *,
.tab-grp.ui-blue>label:hover>input ~ *,
.btn-set.ui-blue .btn:hover,
.btn-set.ui-blue button:hover,
.btn-set.ui-blue label.btn:hover>input ~ *,
.btn-set.ui-blue .btn-grp>*:hover,
.btn-set.ui-blue .btn-grp>label:hover>input ~ * {
	background: #286090;
    border-color: #204d74;
}

.btn.ui-blue.disabled,
button.ui-blue:disabled,
input.btn.ui-blue:disabled,
label.btn.ui-blue>input:disabled ~ *,
.btn-grp.ui-blue>*.disabled,
.tab-grp.ui-blue>*.disabled,
.btn-set.ui-blue .btn.disabled,
.btn-set.ui-blue .btn:disabled,
.btn-set.ui-blue .button:disabled,
.btn-set.ui-blue label.btn>input:disabled ~ *,
.btn-set.ui-blue .btn-grp>*.disabled,
.btn-set.ui-blue .btn-grp>*:disabled,
.btn-set.ui-blue .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-blue>*:disabled,
.tab-grp.ui-blue>*:disabled,
.btn-grp.ui-blue>label>input:disabled ~ *,
.tab-grp.ui-blue>label>input:disabled ~ * {
	color:#d9d9d9;
	fill:#d9d9d9;
	stroke:#d9d9d9;
	background: #337ab7;
	border-color: #2e6da4;
	text-shadow: none;
	box-shadow: none;
}

/* ============================================== [theme](red) ============================================== */

.btn.ui-red,
button.ui-red,
label.btn.ui-red>input ~ *,
.btn-grp.ui-red>*,
.tab-grp.ui-red>*,
.btn-set.ui-red .btn,
.btn-set.ui-red button,
.btn-set.ui-red label.btn>input ~ *,
.btn-set.ui-red .btn-grp>*,
.btn-set.ui-red .btn-grp>label>input ~ *,
.btn-grp.ui-red>label>input ~ *,
.tab-grp.ui-red>label>input ~ * {
	color: #FFF;
	fill:#FFF;
	stroke:#FFF;
	background: #d9534f;
    border-color: #d43f3a;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

.btn.ui-red:hover,
button.ui-red:hover,
label.btn.ui-red:hover>input ~ *,
.btn-grp.ui-red>*:hover,
.tab-grp.ui-red>*:hover,
.btn-grp.ui-red>label:hover>input ~ *,
.tab-grp.ui-red>label:hover>input ~ *,
.btn-set.ui-red .btn:hover,
.btn-set.ui-red button:hover,
.btn-set.ui-red label.btn:hover>input ~ *,
.btn-set.ui-red .btn-grp>*:hover,
.btn-set.ui-red .btn-grp>label:hover>input ~ * {
	background: #c9302c;
    border-color: #ac2925;
}

.btn.ui-red.selected,
button.ui-red.selected,
input.btn.ui-red:checked,
label.btn.ui-red>input:checked ~ *,
.btn-grp.ui-red>*.selected,
.tab-grp.ui-red>*.selected,
.btn-set.ui-red .btn.selected,
.btn-set.ui-red .btn:checked,
.btn-set.ui-red button.selected,
.btn-set.ui-red label.btn>input:checked ~ *,
.btn-set.ui-red .btn-grp>*.selected,
.btn-set.ui-red .btn-grp>*:checked,
.btn-set.ui-red .btn-grp>label>input:checked ~ *,
.btn-grp.ui-red>input:checked,
.tab-grp.ui-red>input:checked,
.btn-grp.ui-red>label>input:checked ~ *,
.tab-grp.ui-red>label>input:checked ~ * {
	background: #c9302c;
	border-color: #ac2925;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn.ui-red.disabled,
button.ui-red:disabled,
input.btn.ui-red:disabled,
label.btn.ui-red>input:disabled ~ *,
.btn-grp.ui-red>*.disabled,
.tab-grp.ui-red>*.disabled,
.btn-set.ui-red .btn.disabled,
.btn-set.ui-red .btn:disabled,
.btn-set.ui-red .button:disabled,
.btn-set.ui-red label.btn>input:disabled ~ *,
.btn-set.ui-red .btn-grp>*.disabled,
.btn-set.ui-red .btn-grp>*:disabled,
.btn-set.ui-red .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-red>*:disabled,
.tab-grp.ui-red>*:disabled,
.btn-grp.ui-red>label>input:disabled ~ *,
.tab-grp.ui-red>label>input:disabled ~ * {
	color:#d9d9d9;
	fill:#d9d9d9;
	stroke:#d9d9d9;
	background: #d9534f;
    border-color: #d43f3a;
	text-shadow: none;
	box-shadow: none;
}

/* ============================================== [theme](green) ============================================== */

.btn.ui-green,
button.ui-green,
label.btn.ui-green>input ~ *,
.btn-grp.ui-green>*,
.tab-grp.ui-green>*,
.btn-set.ui-green .btn,
.btn-set.ui-green button,
.btn-set.ui-green label.btn>input ~ *,
.btn-set.ui-green .btn-grp>*,
.btn-set.ui-green .btn-grp>label>input ~ *,
.btn-grp.ui-green>label>input ~ *,
.tab-grp.ui-green>label>input ~ * {
	color: #FFF;
	fill:#FFF;
	stroke:#FFF;
    background: #1d9d74;
    border-color: #198764;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.btn.ui-green:hover,
button.ui-green:hover,
label.btn.ui-green:hover>input ~ *,
.btn-grp.ui-green>*:hover,
.tab-grp.ui-green>*:hover,
.btn-grp.ui-green>label:hover>input ~ *,
.tab-grp.ui-green>label:hover>input ~ *,
.btn-set.ui-green .btn:hover,
.btn-set.ui-green button:hover,
.btn-set.ui-green label.btn:hover>input ~ *,
.btn-set.ui-green .btn-grp>*:hover,
.btn-set.ui-green .btn-grp>label:hover>input ~ * {
	background: #157254;
    border-color: #0f543e;
}

.btn.ui-green.selected,
button.ui-green.selected,
input.btn.ui-green:checked,
label.btn.ui-green>input:checked ~ *,
.btn-grp.ui-green>*.selected,
.tab-grp.ui-green>*.selected,
.btn-set.ui-green .btn.selected,
.btn-set.ui-green .btn:checked,
.btn-set.ui-green button.selected,
.btn-set.ui-green label.btn>input:checked ~ *,
.btn-set.ui-green .btn-grp>*.selected,
.btn-set.ui-green .btn-grp>*:checked,
.btn-set.ui-green .btn-grp>label>input:checked ~ *,
.btn-grp.ui-green>input:checked,
.tab-grp.ui-green>input:checked,
.btn-grp.ui-green>label>input:checked ~ *,
.tab-grp.ui-green>label>input:checked ~ * {
    background: #157254;
    border-color: #0f543e;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn.ui-green.disabled,
button.ui-green:disabled,
input.btn.ui-green:disabled,
label.btn.ui-green>input:disabled ~ *,
.btn-grp.ui-green>*.disabled,
.tab-grp.ui-green>*.disabled,
.btn-set.ui-green .btn.disabled,
.btn-set.ui-green .btn:disabled,
.btn-set.ui-green .button:disabled,
.btn-set.ui-green label.btn>input:disabled ~ *,
.btn-set.ui-green .btn-grp>*.disabled,
.btn-set.ui-green .btn-grp>*:disabled,
.btn-set.ui-green .btn-grp>label>input:disabled ~ *,
.btn-grp.ui-green>*:disabled,
.tab-grp.ui-green>*:disabled,
.btn-grp.ui-green>label>input:disabled ~ *,
.tab-grp.ui-green>label>input:disabled ~ * {
	color:#d9d9d9;
	fill:#d9d9d9;
	stroke:#d9d9d9;
	background: #1d9d74;
    border-color: #198764;
	text-shadow: none;
	box-shadow: none;
}

/* ============================================== [toggle] ============================================== */

input[type='checkbox'].toggle,
.btn.toggle {
	position: relative;	
	padding: 0px;
	border-width:0px;
	border-radius: 8px;
	width: 24px;
	height: 13px;
	max-height: 13px;
}
input[type='checkbox'].toggle.square,
.btn.toggle.square {
	border-radius: 3px;
}
input[type='checkbox'].toggle::before,
input[type='checkbox'].toggle::after,
.btn.toggle::before,
.btn.toggle::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: inherit;
	box-sizing: border-box;
	border: 1px solid;
}

input[type='checkbox'].toggle::before,
.btn.toggle::before {
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	transition: background 200ms linear;
}
input[type='checkbox'].toggle::after,
.btn.toggle::after {
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: calc(40% + 2px);
	transition: left 400ms, right 340ms;
}
input[type='checkbox'].toggle:checked:after,
.btn.toggle.checked::after {
	left: calc(40% + 2px);
	right: 1px;
	transition: left 400ms, right 400ms;
}

/* ============================================== [theme](toggle) ============================================== */

input[type='checkbox'].toggle::after,
.btn.toggle::after {
	border-color: rgb(204,204,204) rgb(197,197,197) rgb(187,187,187);
	background: rgb(241,241,241) linear-gradient(to bottom, rgba(255,255,255,0.4),rgba(255,255,255,0) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.05));
	box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
}
input[type='checkbox'].toggle::before,
.btn.toggle::before {
	color: rgb(110,82,79);
	text-shadow: 0 1px rgba(255,255,255,0.5);
	background: rgb(241,191,188) linear-gradient(to bottom, rgb(244,206,208),rgb(238,178,170));
	border-color: rgb(207,152,159) rgb(207,152,159) rgb(195,142,151);
    box-shadow: inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
}
input[type='checkbox'].toggle:checked:before,
.btn.toggle.checked::before {
	color: rgb(82,110,79);
	border-color: rgb(152,207,159) rgb(152,207,159) rgb(142,195,151);
    background: rgb(191,241,188);
	background-image: linear-gradient(to bottom, rgb(206,244,208),rgb(178,238,170));
}